<div class="layout">
  <table class="table">
    <tbody>
      {% for row in days limit:days_full %}
      <tr class="h--10"{% if row.skip %} style="border-top: 2px solid;"{% endif %}>
        <td class="w--20"><span class="value value--xxsmall">{{ row.d }}</span></td>
        {% if row.w %}
          <td class="w--12">
            <div class="icon {{ row.w.img }}"></div>
          </td>
          <td class="w--20">
            <p>
              {{ row.w.h }} / {{ row.w.l }}
            </p>
            {% if row.w.snow %}
            <div>
              <div class="icon-mini snowflake-16"></div> {{ row.w.snow }}
            </div>
            {% elsif row.w.rain %}
            <div>
              <div class="icon-mini raindrop-16"></div> {{ row.w.rain }}
            </div>
            {% endif %}
          </td>
        {% else %}
          <td></td>
          <td></td>
        {% endif %}
        <td{% if row.e.size <= 3 %} colspan="2"{% endif %}>
          {% if row.e %}
          <ul style="list-style: none;">
            {% for cal in row.e limit:3 %}
            <li><span class="clamp--1">{{ cal }}</span></li>
            {% endfor %}
          </ul>
          {% endif %}
        </td>
        <td>
          {% if row.e and row.e.size > 3 %}
          <ul style="list-style: none;">
            {% for cal in row.e offset:3 limit:2 %}
            <li><span class="clamp--1">{{ cal }}</span></li>
            {% endfor %}
            {% if row.x2 %}
            <li>{{ row.x2 }}</li>
            {% endif %}
          </ul>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
